<div class="content">
  <div class="section">
    <img class="fit" src="../assets/img/new.png" />
    <p class="title">
      <img [src]="'assets/img/three-d.gif'"/>
      <span>hello me name tin tin</span>
      <img class="flip-image" [src]="'assets/img/three-d.gif'"/></p>
  </div>
  <div class="col">
    <iframe
      title="vimeo-player"
      src="https://player.vimeo.com/video/255933926"
      frameborder="0"
      allowfullscreen>
    </iframe>
  </div>
  <div class="col description">
    <span><em>professional post-production specialist</em></span>
    <span>creativity and versatility to large production teams and self-managed solo projects</span>
    <span>putting motion to custom visuals across the globe</span>
    <span>my passion is helping you express your ideas in a unique and stimulating fashion.</span>
  </div>
</div>

<router-outlet></router-outlet>